ProyectoWeb_CapaPresentacion/Connected Services/WServiceUsuario/WServiceUsuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63876/WServiceUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ViewModels" />
  <xs:element name="GetCantidadUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="GetCantidadUsuariosResult" nillable="true" type="q1:RespuestaServicioOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="usuario" nillable="true" type="q2:CrearUsuarioViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="CrearUsuarioResult" nillable="true" type="q3:RespuestaServicioOfUsuarioViewModelErWrKz08" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="EliminarUsuarioResult" nillable="true" type="q4:RespuestaServicioOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="actualizarUsuario" nillable="true" type="q5:ActualizarUsuarioViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="ActualizarUsuarioResult" nillable="true" type="q6:RespuestaServicioOfUsuarioViewModelErWrKz08" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_usuarios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="GetListaUsuariosResult" nillable="true" type="q7:RespuestaServicioOfArrayOfUsuarioViewModelErWrKz08" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q8:RespuestaServicioOfUsuarioViewModelErWrKz08" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUsuariosPorBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_usuarios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUsuariosPorBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="GetListaUsuariosPorBusquedaResult" nillable="true" type="q9:RespuestaServicioOfArrayOfUsuarioViewModelErWrKz08" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadUsuariosPorBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadUsuariosPorBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="GetCantidadUsuariosPorBusquedaResult" nillable="true" type="q10:RespuestaServicioOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>